/*--- page ---*/

body {
	padding: 0;
	margin: 0;
	background: #FFF; 
}

/*--- navigation bar ---*/

#main-nav {
	background: #E9F3F6;
}

#main-nav-link {
	color: #0495BF;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

#main-nav-link:hover {
	color: #01C2D9;
}

.navbar-collapse {
	justify-content: flex-end;
}

#detail-nav {
	background: #000;
}

#detail-nav-link {
	color: #fff;
	cursor: pointer;
}

#detail-nav-link.active{
	background: #fff;
	color: #575757;
}

#detail-nav-link:hover{
	color: #575757;
}

/*--- header ---*/

.header {
	max-height: 50vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

#header-bg-1{
	background-image: url("assets/poverty_bg.jpg");
}

#header-bg-2{
	background-image: url("assets/hunger_bg.jpg");
}

#header-bg-3{
	background-image: url("assets/goodHealth_bg.jpg");
}

#header-bg-4{
	background-image: url("assets/qualityEdu_bg.jpg");
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
	margin: 1em;
}

.description h1 {
	color: #fff;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

/*--- feature section ---*/

.body-title {
	color: #fff;
	font-size: 3.3rem;
	font-weight: 700;
	text-transform: uppercase;
    text-align: center;
}

#goal-bg-1{
	background: #e5233d;
}

#goal-bg-2{
	background: #dda73a;
}

#goal-bg-3{
	background: #4ca146;
}

#goal-bg-4{
	background: #c5192d;
}

#goal-bg-5{
	background: #ef402c;
}

#goal-bg-6{
	background: #27bfe6;
}

#goal-bg-7{
	background: #fbc412;
}

#goal-bg-8{
	background: #a31c44;
}

#goal-bg-9{
	background: #f26a2d;
}

#goal-bg-10{
	background: #e01483;
}

#goal-bg-11{
	background: #f89d2a;
}

#goal-bg-12{
	background: #bf8d2c;
}

#goal-bg-13{
	background: #407f46;
}
#goal-bg-14{
	background: #1f97d4;
}

#goal-bg-15{
	background: #59ba48;
}

#goal-bg-16{
	background: #126a9f;
}

#goal-bg-17{
	background: #13496b;
}

.features {
	padding: 3em;
	position: relative;
	background-size: cover;
}

/*--- details ---*/

.tab-content {
	margin: 2em;
}

.tab-content h3 {
	text-transform: uppercase;
	margin-bottom: 1em;
	font-weight: bold;
}

.tab-content h5 {
	margin-bottom: 0.5em;
	font-weight: bold;
}

.tab-content h6 {
	font-weight: bold;
}

/*--- footer ---*/

.page-footer {
	background-color: #E9F3F6;
	color: #ccc;
	padding: 60px 0 30px;
}

.footer-copyright {
	color: #666;
	padding: 40px 0;
}
